.paddle {
  width: 16px;
  height: Calc(15% - 4px);
  background-color: rebeccapurple;
  border-radius: 4px;
  border: 2px black solid;
  position: absolute;
}

.paddle.player1 {
  left: 10px;
}

.paddle.player2 {
  right: 10px;
  background-color: salmon;
}
